<%= stylesheet_link_tag "signin" %>

<% if user_signed_in? %>
	<h2 style="color:#fff; text-align:center; font-weight:bold;">Welcome to Tank Battle</h2>
	<h3 style="color:#fff; text-align:center"><%= current_user.email %></h3>
<% end %>

<div class="col-md-offset-5">
	<ul style="list-style-type:none;">
		<li style="color: #fff;display:inline; padding: 10px;"><%= link_to "Lobby", "/lobby/index" %></li>
        <li style="color: #fff;display:inline; padding: 10px;"><%= link_to "High Scores", "/high_scores" %></li>
		<li style="color: #fff;display:inline;padding: 10px"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
	</ul>
</div>

<div id="game"></div>
<div id="orientation"></div>

<script type="text/javascript">

(function () {

    var game = new Phaser.Game(800, 600, Phaser.CANVAS, 'game');

    // Add game files.
    game.state.add('Boot', TwistedMetal.Boot);
    game.state.add('Preloader', TwistedMetal.Preloader);
    game.state.add('Game', TwistedMetal.Game);

    // Start boot sequence.
    game.state.start('Boot');


})();
</script>
